.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: absolute;

    .logo-container {
        justify-content: flex-start;    
        display: flex;

        .logo {
            margin-top: 10px;
            margin-left: 20px;

        }

    }

    .options {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            margin: 10px 10px;
        }
    }
}